/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2017, 9:58:34 PM
    Author     : zidy
*/


html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: default;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 12px;
    tab-size: 4;
    -webkit-user-select: none;
    color: #222;
    overflow: scroll;
}

.platform-linux {
    color: rgb(48, 57, 66);
    font-family: Ubuntu, Arial, sans-serif;
}

.platform-mac {
    color: rgb(48, 57, 66);
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.platform-windows {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.left-sidebar{
    min-height: 900px;
    padding-top:5px;
    padding-left: 5px;
    background-color:#f3f3f3;
    border-right: 1px solid #ccc;
}

.left-sidebar > col-md-4, .left-sidebar > col-md-8{
    height:30px;
}

left-toolbar{
    margin-bottom:15px;
}

.right-sidebar{
    min-height: 900px;
    padding-top:10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.panel{
    margin-top:15px;
}

.success-command, .error-command, .unexec-command{
    display:block;
}
.success-command{
    color:#006633;
}

.error-command{
    color:#630005;
}

.exec-command{
    color:#000000;
}

.unexec-command{
    color:#999999;
}

.panel-footer {
    color:#a22d2d;
    font-weight: 700;
}
.panel > span{
    display:block;
}

#summary > h2 {
    font-weight: 600;
}

.group-summary-title{
    font-weight: 800;
}


#editor { 
        height:200px;
        margin-top: 30px;
        position: absolute;  
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }

.row{
  max-height: 75px;  
} 

.toolbar-button{
    background:none;
    font-size:20px;
}

.toolbar-shadow > .btn-group > .active{
    background:whitesmoke;
    font-size:20px;
}

.toolbar-shadow > .btn-group{
    border-right: solid #000000 3px;
}

  
.left-toolbar > .btn-group > .btn {
      margin-top: 8px;
  } 
  
.left-toolbar > .btn-group > .active{
  
    background:white;
}

.left-sidebar > col-md-12 {
    min-height: 60px;
   
}

.left-sidebar, #content, .right-sidebar {

}

.toolbar-shadow {
    padding-bottom:4px;
    padding-top:4px;
    padding-left:4px;
    background-color:#ccc;
    position: relative;  
    font-size:25px;  
    align-items: center;
    border-bottom: 1px solid #777777;
}

.nav-tabs{
    margin-top:8px;
}

.rec-h{
    color:#0e47a3;
    font-weight: bolder;
}

.span-icon{
    font-size:16px;
    display:inline-block;
    width:30px;
    color:white;
    height:30px; 
    float:left;
    padding:5px;
    padding-left:8px;
    background-color:#5e5e5e;
}


.span-name{
    font-size:14px;
    display:inline-block;
    width:150px;
    height:30px;
    float:right;
    padding:5px;
    background-color:#FFFFFF;
    border:solid #5e5e5e 1px;
}
.btn-info{
    margin-top:5px;
}

.list-item.active > .span-name {
    background-color: #4A96FF;
}

.list-item.selected > .span-name {
    background-color: #FF2E00;
}

.list-item.active.selected > .span-name {
    background-color: #96FF68;
}


.list-item{
    display:block;
    width:180px;
    height:30px;
    margin-top: 4px;
    margin-bottom:4px;
}




.test-group-item{
        margin-left:20px;
}

ul, li{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

#selection-render > .check-div{
    display:block;
    width:30px;
    padding:5px;
    height:30px;
    margin-top: 4px;
    margin-bottom:4px;
}

#selection-render > .check-div > input {
    width:20px;
    height:20px;
}

#count-render > .count-div{
    display:block;
    width:30px;
    padding:5px;
    height:30px;
    margin-top: 4px;
    margin-bottom:4px;
}

#count-render > .count-div > span{
    width:20px;
    height:20px;
    font-size: 14px;
    font-weight: 700;
}


#proceed-render > .proceed-div{
    display:block;
    width:30px;
    padding:5px;
    height:30px;
    margin-top: 4px;
    margin-bottom:4px;
}

#proceed-render > .proceed-div > span{
    display: block;
    width:20px;
    height:20px;
    font-size: 14px;
    font-weight: 700;
}

.proceed{
    background-color:green;
}

.unproceed{
    background-color:red;
}

.nonproceed{
    background-color:black;
}

.edit-editor, #nav-summary, #nav-description, #summary, #description {
    display:none;
}

#comment{
    resize:vertical;
}

.group-test-comment{
    margin-left:20px;
}

#actual-test-error, #actual-testGroup-error, #play-error{
    color:red;
    min-height:20px;
}

#testSheet{
    margin-top:10px;
    margin-left:5px;
}

#testViewSheet{
    margin-top:10px;
}







